In [1]:
import pandas as pd

In [6]:
df = pd.read_table("https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/chipotle.tsv")

In [7]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [8]:
df = pd.read_table("https://bit.ly/chiporders",header  = None)

In [9]:
df.head()

,0,1,2,3,4
0,order_id,quantity,item_name,choice_description,item_price
1,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
2,1,1,Izze,[Clementine],$3.39
3,1,1,Nantucket Nectar,[Apple],$3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39

In [10]:
df = pd.read_table("https://bit.ly/chiporders",usecols = ['order_id','item_name','item_price'])

In [11]:
df.head()

   order_id                              item_name item_price
0         1           Chips and Fresh Tomato Salsa     $2.39
1         1                                   Izze     $3.39
2         1                       Nantucket Nectar     $3.39
3         1  Chips and Tomatillo-Green Chili Salsa     $2.39
4         2                           Chicken Bowl    $16.98

In [12]:
df = pd.read_table("https://bit.ly/chiporders",names = ['A','B','C','D','E'])

In [13]:
df.head()

,A,B,C,D,E
0,order_id,quantity,item_name,choice_description,item_price
1,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
2,1,1,Izze,[Clementine],$3.39
3,1,1,Nantucket Nectar,[Apple],$3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39

In [14]:
df = pd.read_table("https://bit.ly/chiporders", nrows = 10)

In [15]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [16]:
df.shape

(10, 5)

In [17]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [18]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [19]:
df['order_id']

0    1
1    1
2    1
3    1
4    2
5    3
6    3
7    4
8    4
9    5
Name: order_id, dtype: int64

In [20]:
df[['order_id','quantity']]

   order_id  quantity
0         1         1
1         1         1
2         1         1
3         1         1
4         2         2
5         3         1
6         3         1
7         4         1
8         4         1
9         5         1

In [22]:
df.rename(columns = {'item_id':'A','quantity':'B'},inplace = True )

In [23]:
df

,order_id,B,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [24]:
df.columns

Index(['order_id', 'B', 'item_name', 'choice_description', 'item_price'], dtype='object')

In [25]:
df.rename(columns = {'order_id':'A','item_name':'C','choice_description':'D','item_price':'E'},inplace = True)

In [26]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [27]:
df

,A,B,C,D,E
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [30]:
df[df.A>1][['B','C']]

   B                 C
4  2      Chicken Bowl
5  1      Chicken Bowl
6  1     Side of Chips
7  1     Steak Burrito
8  1  Steak Soft Tacos
9  1     Steak Burrito

In [31]:
df[df.A>1].B

4    2
5    1
6    1
7    1
8    1
9    1
Name: B, dtype: int64

In [36]:
df.loc[df.A>1,'A':'C']

   A  B                 C
4  2  2      Chicken Bowl
5  3  1      Chicken Bowl
6  3  1     Side of Chips
7  4  1     Steak Burrito
8  4  1  Steak Soft Tacos
9  5  1     Steak Burrito

In [37]:
df.loc[0:2,'A':'C']

   A  B                             C
0  1  1  Chips and Fresh Tomato Salsa
1  1  1                          Izze
2  1  1              Nantucket Nectar

In [38]:
df

,A,B,C,D,E
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [39]:
df[df.A == df.B]

,A,B,C,D,E
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [40]:
df

,A,B,C,D,E
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [41]:
df[(df.A >= 2) | (df.B <= 1)]

,A,B,C,D,E
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [43]:
df.drop(['C','D'],axis = 1, inplace = True)

In [44]:
df

   A  B        E
0  1  1   $2.39
1  1  1   $3.39
2  1  1   $3.39
3  1  1   $2.39
4  2  2  $16.98
5  3  1  $10.98
6  3  1   $1.69
7  4  1  $11.75
8  4  1   $9.25
9  5  1   $9.25

In [45]:
df.drop([0,1],axis = 0, inplace = True)

In [46]:
df

   A  B        E
2  1  1   $3.39
3  1  1   $2.39
4  2  2  $16.98
5  3  1  $10.98
6  3  1   $1.69
7  4  1  $11.75
8  4  1   $9.25
9  5  1   $9.25

In [50]:
df.select_dtypes(include = ['object'])

         E
2   $3.39
3   $2.39
4  $16.98
5  $10.98
6   $1.69
7  $11.75
8   $9.25
9   $9.25

In [51]:
df.dtypes

A     int64
B     int64
E    object
dtype: object

In [52]:
df = pd.read_csv("https://bit.ly/imdbratings")

In [53]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [54]:
df.title.str.upper()

0                               THE SHAWSHANK REDEMPTION
1                                          THE GODFATHER
2                                 THE GODFATHER: PART II
3                                        THE DARK KNIGHT
4                                           PULP FICTION
5                                           12 ANGRY MEN
6                         THE GOOD, THE BAD AND THE UGLY
7          THE LORD OF THE RINGS: THE RETURN OF THE KING
8                                       SCHINDLER'S LIST
9                                             FIGHT CLUB
10     THE LORD OF THE RINGS: THE FELLOWSHIP OF THE RING
11                                             INCEPTION
12        STAR WARS: EPISODE V - THE EMPIRE STRIKES BACK
13                                          FORREST GUMP
14                 THE LORD OF THE RINGS: THE TWO TOWERS
15                                          INTERSTELLAR
16                       ONE FLEW OVER THE CUCKOO'S NEST
17                                         SEVEN SAMURAI
18                                            GOODFELLAS
19                                             STAR WARS
20                                            THE MATRIX
21                                           CITY OF GOD
22                                 IT'S A WONDERFUL LIFE
23                                    THE USUAL SUSPECTS
24                                                 SE7EN
25                                     LIFE IS BEAUTIFUL
26                          ONCE UPON A TIME IN THE WEST
27                              THE SILENCE OF THE LAMBS
28                                LEON: THE PROFESSIONAL
29                                           CITY LIGHTS
                             ...
949                                           HOME ALONE
950                                                BOUND
951                                        SLEEPY HOLLOW
952                                         PIRATE RADIO
953                                THE NEVERENDING STORY
954                                                X-MEN
955                                     ZERO DARK THIRTY
956                             MANHATTAN MURDER MYSTERY
957                          NATIONAL LAMPOON'S VACATION
958                                   MY SISTER'S KEEPER
959                                 DECONSTRUCTING HARRY
960                                     THE WAY WAY BACK
961                                               CAPOTE
962                                   DRIVING MISS DAISY
963                                      LA FEMME NIKITA
964                                              LINCOLN
965                                            LIMITLESS
966                                   THE SIMPSONS MOVIE
967                                             THE ROCK
968                                  THE ENGLISH PATIENT
969                                  LAW ABIDING CITIZEN
970                                          WONDER BOYS
971                                   DEATH AT A FUNERAL
972                                       BLUE VALENTINE
973                                THE CIDER HOUSE RULES
974                                              TOOTSIE
975                          BACK TO THE FUTURE PART III
976      MASTER AND COMMANDER: THE FAR SIDE OF THE WORLD
977                                          POLTERGEIST
978                                          WALL STREET
Name: title, Length: 979, dtype: object

In [55]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [62]:
df.genre.str.contains('Crime')

0       True
1       True
2       True
3      False
4       True
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21      True
22     False
23      True
24     False
25     False
26     False
27     False
28      True
29     False
       ...
949    False
950     True
951    False
952    False
953    False
954    False
955    False
956    False
957    False
958    False
959    False
960    False
961    False
962    False
963    False
964    False
965    False
966    False
967    False
968    False
969     True
970    False
971    False
972    False
973    False
974    False
975    False
976    False
977    False
978     True
Name: genre, Length: 979, dtype: bool

In [63]:
df.genre.str.contains('Crime').astype('int')

0      1
1      1
2      1
3      0
4      1
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     1
22     0
23     1
24     0
25     0
26     0
27     0
28     1
29     0
      ..
949    0
950    1
951    0
952    0
953    0
954    0
955    0
956    0
957    0
958    0
959    0
960    0
961    0
962    0
963    0
964    0
965    0
966    0
967    0
968    0
969    1
970    0
971    0
972    0
973    0
974    0
975    0
976    0
977    0
978    1
Name: genre, Length: 979, dtype: int32

In [64]:
df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort..."
15,8.7,Interstellar,PG-13,Adventure,169,"[u'Matthew McConaughey', u'Anne Hathaway', u'J..."
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
18,8.7,Goodfellas,R,Biography,146,"[u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']"
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G..."
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm..."
29,8.6,City Lights,PASSED,Comedy,87,"[u'Charles Chaplin', u'Virginia Cherrill', u'F..."
...,...,...,...,...,...,...
949,7.4,Home Alone,PG,Comedy,103,"[u'Macaulay Culkin', u'Joe Pesci', u'Daniel St..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
952,7.4,Pirate Radio,R,Comedy,117,"[u'Philip Seymour Hoffman', u'Bill Nighy', u'N..."
953,7.4,The NeverEnding Story,PG,Adventure,102,"[u'Noah Hathaway', u'Barret Oliver', u'Tami St..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
956,7.4,Manhattan Murder Mystery,PG,Comedy,104,"[u'Woody Allen', u'Diane Keaton', u'Jerry Adler']"
957,7.4,National Lampoon's Vacation,R,Comedy,98,"[u'Chevy Chase', u""Beverly D'Angelo"", u'Imogen..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
959,7.4,Deconstructing Harry,R,Comedy,96,"[u'Woody Allen', u'Judy Davis', u'Julia Louis-..."
960,7.4,The Way Way Back,PG-13,Comedy,103,"[u'Steve Carell', u'Toni Collette', u'Allison ..."
961,7.4,Capote,R,Biography,114,"[u'Philip Seymour Hoffman', u'Clifton Collins ..."
962,7.4,Driving Miss Daisy,PG,Comedy,99,"[u'Morgan Freeman', u'Jessica Tandy', u'Dan Ay..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
964,7.4,Lincoln,PG-13,Biography,150,"[u'Daniel Day-Lewis', u'Sally Field', u'David ..."
965,7.4,Limitless,PG-13,Mystery,105,"[u'Bradley Cooper', u'Anna Friel', u'Abbie Cor..."
966,7.4,The Simpsons Movie,PG-13,Animation,87,"[u'Dan Castellaneta', u'Julie Kavner', u'Nancy..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [65]:
df.genre.str.replace('Crime','cm')

0             cm
1             cm
2             cm
3         Action
4             cm
5          Drama
6        Western
7      Adventure
8      Biography
9          Drama
10     Adventure
11        Action
12        Action
13         Drama
14     Adventure
15     Adventure
16         Drama
17         Drama
18     Biography
19        Action
20        Action
21            cm
22         Drama
23            cm
24         Drama
25        Comedy
26       Western
27         Drama
28            cm
29        Comedy
         ...
949       Comedy
950           cm
951        Drama
952       Comedy
953    Adventure
954       Action
955        Drama
956       Comedy
957       Comedy
958        Drama
959       Comedy
960       Comedy
961    Biography
962       Comedy
963       Action
964    Biography
965      Mystery
966    Animation
967       Action
968        Drama
969           cm
970        Drama
971       Comedy
972        Drama
973        Drama
974       Comedy
975    Adventure
976       Action
977       Horror
978           cm
Name: genre, Length: 979, dtype: object

In [66]:
df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort..."
15,8.7,Interstellar,PG-13,Adventure,169,"[u'Matthew McConaughey', u'Anne Hathaway', u'J..."
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
18,8.7,Goodfellas,R,Biography,146,"[u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']"
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G..."
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm..."
29,8.6,City Lights,PASSED,Comedy,87,"[u'Charles Chaplin', u'Virginia Cherrill', u'F..."
...,...,...,...,...,...,...
949,7.4,Home Alone,PG,Comedy,103,"[u'Macaulay Culkin', u'Joe Pesci', u'Daniel St..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
952,7.4,Pirate Radio,R,Comedy,117,"[u'Philip Seymour Hoffman', u'Bill Nighy', u'N..."
953,7.4,The NeverEnding Story,PG,Adventure,102,"[u'Noah Hathaway', u'Barret Oliver', u'Tami St..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
956,7.4,Manhattan Murder Mystery,PG,Comedy,104,"[u'Woody Allen', u'Diane Keaton', u'Jerry Adler']"
957,7.4,National Lampoon's Vacation,R,Comedy,98,"[u'Chevy Chase', u""Beverly D'Angelo"", u'Imogen..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
959,7.4,Deconstructing Harry,R,Comedy,96,"[u'Woody Allen', u'Judy Davis', u'Julia Louis-..."
960,7.4,The Way Way Back,PG-13,Comedy,103,"[u'Steve Carell', u'Toni Collette', u'Allison ..."
961,7.4,Capote,R,Biography,114,"[u'Philip Seymour Hoffman', u'Clifton Collins ..."
962,7.4,Driving Miss Daisy,PG,Comedy,99,"[u'Morgan Freeman', u'Jessica Tandy', u'Dan Ay..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
964,7.4,Lincoln,PG-13,Biography,150,"[u'Daniel Day-Lewis', u'Sally Field', u'David ..."
965,7.4,Limitless,PG-13,Mystery,105,"[u'Bradley Cooper', u'Anna Friel', u'Abbie Cor..."
966,7.4,The Simpsons Movie,PG-13,Animation,87,"[u'Dan Castellaneta', u'Julie Kavner', u'Nancy..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [68]:
df.groupby('genre').duration.max()

genre
Action       205
Adventure    224
Animation    134
Biography    202
Comedy       187
Crime        229
Drama        242
Family       115
Fantasy      112
Film-Noir    111
History       66
Horror       146
Mystery      160
Sci-Fi       132
Thriller     120
Western      175
Name: duration, dtype: int64

In [70]:
df.groupby('genre')['title','duration'].count()

           title  duration
genre
Action       136       136
Adventure     75        75
Animation     62        62
Biography     77        77
Comedy       156       156
Crime        124       124
Drama        278       278
Family         2         2
Fantasy        1         1
Film-Noir      3         3
History        1         1
Horror        29        29
Mystery       16        16
Sci-Fi         5         5
Thriller       5         5
Western        9         9

In [71]:
df.isnull()

     star_rating  title  content_rating  genre  duration  actors_list
0          False  False           False  False     False        False
1          False  False           False  False     False        False
2          False  False           False  False     False        False
3          False  False           False  False     False        False
4          False  False           False  False     False        False
5          False  False           False  False     False        False
6          False  False           False  False     False        False
7          False  False           False  False     False        False
8          False  False           False  False     False        False
9          False  False           False  False     False        False
10         False  False           False  False     False        False
11         False  False           False  False     False        False
12         False  False           False  False     False        False
13         False  False           False  False     False        False
14         False  False           False  False     False        False
15         False  False           False  False     False        False
16         False  False           False  False     False        False
17         False  False           False  False     False        False
18         False  False           False  False     False        False
19         False  False           False  False     False        False
20         False  False           False  False     False        False
21         False  False           False  False     False        False
22         False  False           False  False     False        False
23         False  False           False  False     False        False
24         False  False           False  False     False        False
25         False  False           False  False     False        False
26         False  False           False  False     False        False
27         False  False           False  False     False        False
28         False  False           False  False     False        False
29         False  False           False  False     False        False
..           ...    ...             ...    ...       ...          ...
949        False  False           False  False     False        False
950        False  False           False  False     False        False
951        False  False           False  False     False        False
952        False  False           False  False     False        False
953        False  False           False  False     False        False
954        False  False           False  False     False        False
955        False  False           False  False     False        False
956        False  False           False  False     False        False
957        False  False           False  False     False        False
958        False  False           False  False     False        False
959        False  False           False  False     False        False
960        False  False           False  False     False        False
961        False  False           False  False     False        False
962        False  False           False  False     False        False
963        False  False           False  False     False        False
964        False  False           False  False     False        False
965        False  False           False  False     False        False
966        False  False           False  False     False        False
967        False  False           False  False     False        False
968        False  False           False  False     False        False
969        False  False           False  False     False        False
970        False  False           False  False     False        False
971        False  False           False  False     False        False
972        False  False           False  False     False        False
973        False  False           False  False     False        False
974        False  False           False  False     False        False
975        False  False           False  False     False        False
976        False  False           False  False     False        False
977        False  False           False  False     False        False
978        False  False           False  False     False        False

[979 rows x 6 columns]

In [72]:
df.notnull()

     star_rating  title  content_rating  genre  duration  actors_list
0           True   True            True   True      True         True
1           True   True            True   True      True         True
2           True   True            True   True      True         True
3           True   True            True   True      True         True
4           True   True            True   True      True         True
5           True   True            True   True      True         True
6           True   True            True   True      True         True
7           True   True            True   True      True         True
8           True   True            True   True      True         True
9           True   True            True   True      True         True
10          True   True            True   True      True         True
11          True   True            True   True      True         True
12          True   True            True   True      True         True
13          True   True            True   True      True         True
14          True   True            True   True      True         True
15          True   True            True   True      True         True
16          True   True            True   True      True         True
17          True   True            True   True      True         True
18          True   True            True   True      True         True
19          True   True            True   True      True         True
20          True   True            True   True      True         True
21          True   True            True   True      True         True
22          True   True            True   True      True         True
23          True   True            True   True      True         True
24          True   True            True   True      True         True
25          True   True            True   True      True         True
26          True   True            True   True      True         True
27          True   True            True   True      True         True
28          True   True            True   True      True         True
29          True   True            True   True      True         True
..           ...    ...             ...    ...       ...          ...
949         True   True            True   True      True         True
950         True   True            True   True      True         True
951         True   True            True   True      True         True
952         True   True            True   True      True         True
953         True   True            True   True      True         True
954         True   True            True   True      True         True
955         True   True            True   True      True         True
956         True   True            True   True      True         True
957         True   True            True   True      True         True
958         True   True            True   True      True         True
959         True   True            True   True      True         True
960         True   True            True   True      True         True
961         True   True            True   True      True         True
962         True   True            True   True      True         True
963         True   True            True   True      True         True
964         True   True            True   True      True         True
965         True   True            True   True      True         True
966         True   True            True   True      True         True
967         True   True            True   True      True         True
968         True   True            True   True      True         True
969         True   True            True   True      True         True
970         True   True            True   True      True         True
971         True   True            True   True      True         True
972         True   True            True   True      True         True
973         True   True            True   True      True         True
974         True   True            True   True      True         True
975         True   True            True   True      True         True
976         True   True            True   True      True         True
977         True   True            True   True      True         True
978         True   True            True   True      True         True

[979 rows x 6 columns]

In [73]:
df.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [77]:
df.isnull().star_rating.sum(axis = 0)

0

In [78]:
df.star_rating.isnull().sum(axis = 0)

0

In [79]:
df.isnull().sum(axis = 1)

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
949    0
950    0
951    0
952    0
953    0
954    0
955    0
956    0
957    0
958    0
959    0
960    0
961    0
962    0
963    0
964    0
965    0
966    0
967    0
968    0
969    0
970    0
971    0
972    0
973    0
974    0
975    0
976    0
977    0
978    0
Length: 979, dtype: int64

In [81]:
df.isnull().sum(axis = 0)

star_rating       0
title             0
content_rating    3
genre             0
duration          0
actors_list       0
dtype: int64

In [83]:
df.content_rating.isnull().sum()

3

In [84]:
df.content_rating.fillna(value = 0,inplace = True)

In [85]:
df.isnull().content_rating.sum()

0

In [86]:
df.dropna(how='any',inplace = True)

In [87]:
df.dropna(how = 'all', inplace =True)

In [88]:
df.dropna(subset=['content_rating'],how='any',inplace = True)

In [89]:
df.dropna(subset=['content_rating'],how='all',inplace=True)

In [90]:
df.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [91]:
df.title.unique()

array(['The Shawshank Redemption', 'The Godfather',
       'The Godfather: Part II', 'The Dark Knight', 'Pulp Fiction',
       '12 Angry Men', 'The Good, the Bad and the Ugly',
       'The Lord of the Rings: The Return of the King', "Schindler's List",
       'Fight Club', 'The Lord of the Rings: The Fellowship of the Ring',
       'Inception', 'Star Wars: Episode V - The Empire Strikes Back',
       'Forrest Gump', 'The Lord of the Rings: The Two Towers',
       'Interstellar', "One Flew Over the Cuckoo's Nest", 'Seven Samurai',
       'Goodfellas', 'Star Wars', 'The Matrix', 'City of God',
       "It's a Wonderful Life", 'The Usual Suspects', 'Se7en',
       'Life Is Beautiful', 'Once Upon a Time in the West',
       'The Silence of the Lambs', 'Leon: The Professional', 'City Lights',
       'Spirited Away', 'The Intouchables', 'Casablanca', 'Whiplash',
       'American History X', 'Modern Times', 'Saving Private Ryan',
       'Raiders of the Lost Ark', 'Rear Window', 'Psycho',
       'The Green Mile', 'Sunset Blvd.', 'The Pianist',
       'The Dark Knight Rises', 'Gladiator', 'Terminator 2: Judgment Day',
       'Memento', 'Taare Zameen Par',
       'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
       'The Departed', 'Cinema Paradiso', 'Apocalypse Now',
       'The Great Dictator', 'The Prestige', 'Back to the Future',
       'The Lion King', 'The Lives of Others', 'Alien', 'Paths of Glory',
       'Django Unchained', '3 Idiots', 'Grave of the Fireflies',
       'The Shining', 'M', 'WALL-E', 'Witness for the Prosecution',
       'Munna Bhai M.B.B.S.', 'American Beauty', 'Das Boot',
       'Princess Mononoke', 'Amelie', 'North by Northwest',
       'Rang De Basanti', 'Jodaeiye Nader az Simin', 'Citizen Kane',
       'Aliens', 'Vertigo', 'Oldeuboi', 'Once Upon a Time in America',
       'Double Indemnity', 'Star Wars: Episode VI - Return of the Jedi',
       'Toy Story 3', 'Braveheart', 'To Kill a Mockingbird',
       'Requiem for a Dream', 'Lawrence of Arabia', 'A Clockwork Orange',
       'Bicycle Thieves', 'The Kid', 'Swades', 'Reservoir Dogs',
       'Eternal Sunshine of the Spotless Mind', 'Taxi Driver',
       'Dilwale Dulhania Le Jayenge', "Singin' in the Rain",
       'All About Eve', 'Yojimbo', 'The Sting', 'Rashomon', 'Amadeus',
       'The Treasure of the Sierra Madre',
       'Monty Python and the Holy Grail', 'Full Metal Jacket',
       'The Apartment', 'Ikiru', 'The Third Man', 'Snatch.',
       'For a Few Dollars More', 'Metropolis', 'Dil Chahta Hai',
       '2001: A Space Odyssey', 'Some Like It Hot', 'L.A. Confidential',
       'Batman Begins', 'Inglourious Basterds', 'Scarface',
       'Mr. Smith Goes to Washington', 'Toy Story',
       'Indiana Jones and the Last Crusade', 'Unforgiven',
       'The Great Escape', 'Jagten', 'On the Waterfront', 'The General',
       'Raging Bull', 'Downfall', 'Up', 'Wild Strawberries',
       'The Gold Rush', 'Ran', 'Chinatown', 'My Neighbor Totoro',
       'Judgment at Nuremberg', 'Barfi!', 'The Seventh Seal', 'Heat',
       "Pan's Labyrinth", 'The Bridge on the River Kwai', 'Die Hard',
       'Good Will Hunting', 'The Wages of Fear',
       'The Secret in Their Eyes', 'Lagaan: Once Upon a Time in India',
       'The Wolf of Wall Street', 'It Happened One Night', 'Blade Runner',
       'Warrior', "Howl's Moving Castle", 'The Elephant Man', 'Rebecca',
       'Incendies', 'Lock, Stock and Two Smoking Barrels',
       'V for Vendetta', 'The Big Lebowski', 'Cool Hand Luke',
       'Relatos salvajes', 'Casino', 'Gone with the Wind', 'Gone Girl',
       'The Best Years of Our Lives', 'How to Train Your Dragon',
       'Diabolique', 'Gran Torino', 'Rush', 'Into the Wild',
       'My Sassy Girl', 'The Deer Hunter', 'Mary and Max',
       "Hachi: A Dog's Tale", 'The Maltese Falcon', 'A Beautiful Mind',
       'Dial M for Murder', 'Trainspotting',
       'Tae Guk Gi: The Brotherhood of War', 'Persona', 'Touch of Evil',
       'Fargo', 'The Avengers', 'The 400 Blows', 'The Princess Bride',
       'Hotel Rwanda', 'Stalker', 'The Battle of Algiers', 'Underground',
       'Fanny and Alexander', 'Network', 'The Thing',
       'Butch Cassidy and the Sundance Kid', 'The Grapes of Wrath',
       'Black Cat, White Cat', 'Life of Brian', 'The Sixth Sense',
       'Finding Nemo', 'Nausicaa of the Valley of the Wind',
       'Kingsman: The Secret Service', 'Platoon',
       'Guardians of the Galaxy', 'In the Name of the Father',
       'Kill Bill: Vol. 1', 'No Country for Old Men', 'Le Samourai',
       '12 Years a Slave', "La leggenda del pianista sull'oceano", '8 1/2',
       'Ben-Hur', 'Amores Perros', 'Stand by Me',
       'What Ever Happened to Baby Jane?', 'Annie Hall',
       'The Imitation Game', 'Laura', 'Departures', 'Infernal Affairs',
       'There Will Be Blood', 'The Grand Budapest Hotel', 'La Strada',
       'Sin City', 'Memories of Murder', 'Donnie Darko',
       "Who's Afraid of Virginia Woolf?", 'Gandhi', 'Solaris',
       'Harry Potter and the Deathly Hallows: Part 2', 'Paris, Texas',
       'The Wizard of Oz', '3-Iron', 'Boyhood', 'Million Dollar Baby',
       'The Last Picture Show', 'Strangers on a Train',
       'Cat on a Hot Tin Roof', 'La Dolce Vita', 'Chungking Express',
       'The Night of the Hunter', 'La Haine', 'Yip Man', 'High Noon',
       'Notorious', 'Before Sunrise', 'Elite Squad: The Enemy Within',
       'The Bourne Ultimatum', 'Castle in the Sky', 'The Celebration',
       'Spring, Summer, Fall, Winter... and Spring', 'Shutter Island',
       'Barry Lyndon', 'Stalag 17', 'Three Colors: Red',
       'X-Men: Days of Future Past', 'Sleuth', 'In the Mood for Love',
       'The Man Who Shot Liberty Valance', 'Arsenic and Old Lace',
       'The Big Sleep', 'Roman Holiday', 'The Philadelphia Story', 'Akira',
       'Anatomy of a Murder', 'The Cabinet of Dr. Caligari', 'The Help',
       'The Sea Inside', 'Elite Squad', 'The Hustler', 'Rio Bravo',
       'Twelve Monkeys', 'Harvey', 'A Christmas Story', 'Jaws',
       'The Raid 2', 'Rocky', 'Wings of Desire',
       'Pirates of the Caribbean: The Curse of the Black Pearl',
       'The Killing', 'Papillon', "The King's Speech", 'Groundhog Day',
       'A Fistful of Dollars', 'Monsters, Inc.', 'Dog Day Afternoon',
       'The Perks of Being a Wallflower', 'Young Frankenstein',
       'The Terminator', 'Harold and Maude', 'Before Sunset',
       'A Streetcar Named Desire', 'Bringing Up Baby',
       'The Diving Bell and the Butterfly', 'His Girl Friday',
       'Sling Blade', 'All Quiet on the Western Front', 'Prisoners',
       'The Return', 'The Manchurian Candidate', 'Duck Soup',
       'Beauty and the Beast', 'The Truman Show', 'The Wild Bunch', 'Rope',
       'The Graduate', 'Jurassic Park', 'Dogville', 'Furious 7', 'Patton',
       'The Nightmare Before Christmas', 'Being There', 'Persepolis',
       'This Is Spinal Tap', 'East of Eden', 'Pink Floyd The Wall',
       'Blood Diamond', 'Big Fish', 'Slumdog Millionaire', 'Star Trek',
       'The Straight Story', 'Crimes and Misdemeanors', 'Charade', 'JFK',
       'Dawn of the Dead', 'Magnolia', 'Manhattan', 'Central Station',
       'Brazil', 'The Exorcist', 'Her', 'Dancer in the Dark', 'Rain Man',
       'Talk to Her', 'The Adventures of Robin Hood',
       'Aguirre, the Wrath of God', 'In the Heat of the Night',
       'Nosferatu', 'Black Swan', 'Ratatouille', 'The Searchers',
       'Short Term 12', 'Doctor Zhivago', 'Life of Pi',
       "All the President's Men", 'Battleship Potemkin',
       'Dances with Wolves', 'Catch Me If You Can', 'Cinderella Man',
       'Dead Poets Society', 'Ghost in the Shell', 'Head-On',
       "No Man's Land", 'Dallas Buyers Club', 'Days of Heaven',
       'The Sound of Music', 'District 9', 'Shadow of a Doubt',
       'Frankenstein', 'Shaun of the Dead', 'Night of the Living Dead',
       'Kill Bill: Vol. 2', 'Secrets & Lies', 'The Artist', 'Aladdin',
       'The Lady Vanishes', 'The Hobbit: The Desolation of Smaug',
       'Let the Right One In', 'Fiddler on the Roof',
       'The Hobbit: An Unexpected Journey', 'Three Colors: Blue',
       "Rosemary's Baby", 'Mystic River', 'Serenity', 'Amarcord',
       'Planet of the Apes', 'True Romance', 'Hannah and Her Sisters',
       'Moon', 'Before Midnight', 'My Name Is Khan', 'Scent of a Woman',
       'Mulholland Dr.', 'King Kong', 'The Fault in Our Stars',
       'The Incredibles', 'Edward Scissorhands', 'Casino Royale',
       'How to Train Your Dragon 2', 'In Bruges', 'The Untouchables',
       'Breathless', 'Spartacus', 'The Iron Giant', 'Midnight Cowboy',
       'The Blues Brothers', 'Freaks', 'Letters from Iwo Jima',
       'Edge of Tomorrow', 'Glory', 'The African Queen',
       'Birdman: Or (The Unexpected Virtue of Ignorance)', 'Big Hero 6',
       'Almost Famous', 'The Notebook', 'The Conversation',
       'The Breakfast Club', 'The Pursuit of Happyness', 'The Killer',
       'Once', 'Ying xiong', 'The Remains of the Day',
       'The Bride of Frankenstein', 'The Wrestler', 'Nightcrawler',
       'Gravity', 'Hard Boiled', 'Bonnie and Clyde', 'The Bourne Identity',
       'Key Largo', 'Nine Queens', 'Toy Story 2', 'The Killing Fields',
       'All About My Mother', 'Cowboy Bebop: The Movie', 'Ed Wood',
       'Stagecoach', 'The Man Who Would Be King', 'The Outlaw Josey Wales',
       'Children of Men', 'The Insider', 'The Right Stuff', 'Badlands',
       'A Prophet', '4 Months, 3 Weeks and 2 Days', 'Le passe', 'The Fall',
       'Breaking the Waves', 'Mr. Nobody', 'Crash', 'Avatar', 'Iron Man',
       'Do the Right Thing', "Carlito's Way",
       'Crouching Tiger, Hidden Dragon', 'Lilya 4-Ever', 'The Chorus',
       'The Boondock Saints', "Miller's Crossing", 'Walk the Line',
       'Shrek', 'My Fair Lady', 'The Ten Commandments', 'The Fighter',
       'Captain Phillips', 'Cabaret', 'Halloween', 'My Left Foot',
       'Miracle on 34th Street', 'The Man from Nowhere',
       'Toki o kakeru shojo', 'Little Miss Sunshine', 'Taken',
       'Blue Is the Warmest Color', 'Boogie Nights', 'Hot Fuzz',
       "Ferris Bueller's Day Off", "The World's Fastest Indian",
       "Kiki's Delivery Service", 'Down by Law', 'Glengarry Glen Ross',
       'Clerks', "Adam's Apples", 'The Girl with the Dragon Tattoo',
       'The 39 Steps', 'E.T. the Extra-Terrestrial', 'Tombstone',
       'Predator', 'Tangled', "Guess Who's Coming to Dinner",
       'Ordinary People', 'The Best Offer', 'Silver Linings Playbook',
       'Hamlet', 'Amour', 'I Saw the Devil', 'The Motorcycle Diaries',
       'Office Space', 'Evil', 'Withnail & I',
       'The Day the Earth Stood Still', 'Black Book', 'Evil Dead II',
       'Kaze tachinu', 'Star Trek Into Darkness',
       'The Triplets of Belleville', 'Open Your Eyes',
       'The Magnificent Seven', 'Drive', 'Mississippi Burning',
       'The Lego Movie', 'The Day of the Jackal', 'Misery',
       'Willy Wonka & the Chocolate Factory', 'Fantasia', 'Gattaca',
       'American Gangster', 'Porco Rosso', 'The French Connection',
       'The Boy in the Striped Pajamas', 'Empire of the Sun', 'About Time',
       'Blue Velvet', 'In America', 'The Curious Case of Benjamin Button',
       'The Last of the Mohicans', 'Moonrise Kingdom',
       'Rebel Without a Cause', 'Fantastic Mr. Fox',
       'Invasion of the Body Snatchers', 'October Sky', 'Dirty Harry',
       'Ghostbusters', 'Captain America: The Winter Soldier',
       'Wreck-It Ralph', 'The Hangover', 'Back to the Future Part II',
       'Belle de Jour', 'O Brother, Where Art Thou?', 'Repulsion',
       'Airplane!', 'Pride & Prejudice', 'Zulu', 'Night on Earth',
       'From Here to Eternity', 'Apocalypto', 'Atonement',
       'The Dirty Dozen', 'X-Men: First Class', 'Run Lola Run',
       'The Longest Day', 'Zelig', 'The Last Emperor', 'The Goonies',
       'The White Ribbon', 'The Fugitive', 'The Color Purple',
       'South Park: Bigger Longer & Uncut', '(500) Days of Summer',
       'Lost in Translation', 'Argo', 'Blazing Saddles',
       "Breakfast at Tiffany's", 'Finding Neverland', 'The Experiment',
       'Lucky Number Slevin', 'The Theory of Everything',
       'Harry Potter and the Prisoner of Azkaban', 'Kung Fu Hustle',
       'Being John Malkovich', 'The Social Network', '3:10 to Yuma',
       'The Name of the Rose', 'Mary Poppins', 'The Game', 'Changeling',
       'Donnie Brasco', 'Serpico', "What's Eating Gilbert Grape",
       'Goldfinger', 'Nebraska', 'The Sandlot', 'Boyz n the Hood',
       'The Bourne Supremacy', 'Skyfall', 'Ray', '300', 'A Bronx Tale',
       'The Birds', 'Battle Royale', 'Control', 'Kramer vs. Kramer',
       'Deliverance', "Ocean's Eleven", 'As Good as It Gets', 'Awakenings',
       'The King of Comedy', 'Man on Fire', 'Sabrina', 'Dark City',
       'Good Bye Lenin!', 'Remember the Titans',
       'Star Trek II: The Wrath of Khan', 'Road to Perdition', 'Rushmore',
       'The Machinist', 'Flipped', 'The Count of Monte Cristo',
       'Detachment', 'Love Me If You Dare', 'Dead Man',
       'The Purple Rose of Cairo', '21 Grams', '50/50', 'Kick-Ass',
       'Delicatessen', 'Barton Fink', 'The Last King of Scotland',
       'Adaptation.', 'A Very Long Engagement', 'Mysterious Skin',
       'Stardust', 'Black Hawk Down', 'Paprika',
       'Fear and Loathing in Las Vegas', 'Frost/Nixon', 'Enter the Dragon',
       'Short Cuts', "A Hard Day's Night", 'The Last Samurai',
       'The Station Agent', 'Zombieland', 'Sympathy for Mr. Vengeance',
       'Despicable Me', 'Shane', 'Forbidden Planet', 'Titanic',
       'Gone Baby Gone', 'The Dinner Game',
       'Dawn of the Planet of the Apes', '25th Hour', 'Ponyo', 'Shine',
       'The Blind Side', 'Brokeback Mountain', 'Cast Away', 'Malcolm X',
       'Show Me Love', 'Boy A', 'The Warriors',
       'Close Encounters of the Third Kind', 'Match Point', 'Training Day',
       'The Butterfly Effect', 'The City of Lost Children', 'Billy Elliot',
       'Love Actually', 'The Producers',
       'Harry Potter and the Deathly Hallows: Part 1', 'The Visitor',
       'Philadelphia', 'Sense and Sensibility', 'Three Colors: White',
       'La grande bellezza', 'Primal Fear', 'Where Eagles Dare',
       'Dazed and Confused', 'Blood Simple.', 'This Is England',
       'Fearless', 'Dangerous Liaisons', 'Saw',
       'Snow White and the Seven Dwarfs', 'Coraline',
       'The Hunger Games: Catching Fire', "Sophie's Choice",
       'La Vie en Rose', 'Star Wars: Episode III - Revenge of the Sith',
       'True Grit', 'After Hours', 'Frozen', 'Lolita', 'Eastern Promises',
       'Midnight in Paris', 'The Muppet Christmas Carol',
       'Who Framed Roger Rabbit', 'Sympathy for Lady Vengeance',
       'Grindhouse', 'In a Better World', 'Blow-Up',
       'The Secret World of Arrietty', 'Kiss Kiss Bang Bang',
       'Lost Highway', 'Zodiac', 'Les Miserables', 'Moulin Rouge!',
       'Whale Rider', 'End of Watch', 'Philomena', 'Fury', 'The Big Blue',
       'First Blood', 'Minority Report', 'Spellbound', 'The Wicker Man',
       'Seven Pounds', 'Midnight Express', "Kelly's Heroes", 'MASH',
       'The Player', 'Traffic', 'Y Tu Mama Tambien',
       'Stranger Than Fiction', 'Inside Man', '127 Hours',
       'The Fifth Element', 'Milk', 'United 93', 'Jin ling shi san chai',
       'Dracula', 'High Plains Drifter', 'I Am Sam',
       'Fried Green Tomatoes', 'Watchmen', '28 Days Later...',
       'The Illusionist', 'Superbad', 'The Godfather: Part III',
       'The Royal Tenenbaums', 'The Jungle Book', 'Thank You for Smoking',
       'Man Bites Dog', 'A Few Good Men', 'The Legend of Drunken Master',
       'The Kite Runner', 'When Harry Met Sally...', 'Munich',
       'House of Sand and Fog', 'Lethal Weapon', 'Animal House',
       'Lord of War', 'Blow', 'Sherlock Holmes',
       'Harry Potter and the Goblet of Fire', 'La piel que habito',
       'The Crow', 'West Side Story', 'The Thin Red Line',
       'American Psycho', 'The Blind Swordsman: Zatoichi',
       'The Last Temptation of Christ',
       'The Naked Gun: From the Files of Police Squad!', 'The Others',
       'The Party', 'Army of Darkness', 'The Hurt Locker',
       'The Raid: Redemption', 'Volver', 'Following', 'Kung Fu Panda',
       'Mad Max 2: The Road Warrior', 'Jusan-nin no shikaku',
       "The Man Who Wasn't There", 'The Counterfeiters',
       'The Hunt for Red October', 'Lone Survivor', 'A Fish Called Wanda',
       'The Impossible', 'Garden State', 'Escape from Alcatraz',
       'Apollo 13', 'Lust, Caution', 'Selma', 'Funny Games', 'The Abyss',
       'Robin Hood', 'Enemy at the Gates', 'Falling Down',
       'Little Children', 'Hunger', 'Indiana Jones and the Temple of Doom',
       'Ip Man 2', 'The Little Mermaid', "It's a Mad, Mad, Mad, Mad World",
       'The Reader', 'The Omen', 'A Royal Affair', 'Braindead',
       'Secondhand Lions', 'Disconnect', 'A Single Man', 'Hoosiers',
       'Moneyball', 'The Book Thief', 'Die Hard: With a Vengeance',
       'Interview with the Vampire: The Vampire Chronicles',
       'Midnight Run', 'An American Werewolf in London',
       'The Great Debaters', 'Tucker and Dale vs. Evil',
       'Dead Man Walking', 'The Piano', 'The Town',
       'Rise of the Planet of the Apes', "Boys Don't Cry", 'Ice Age',
       'Of Mice and Men', 'Sideways', 'High Fidelity',
       'The Meaning of Life', 'Hugo', 'Leaving Las Vegas', 'The Evil Dead',
       'Collateral', 'Planes, Trains & Automobiles', 'Hodejegerne',
       'Field of Dreams', 'Batman', 'Tell No One',
       'Ghost Dog: The Way of the Samurai', 'Chaplin', 'Keith', 'Juno',
       'The Assassination of Jesse James by the Coward Robert Ford',
       'The Fisher King', 'House of Flying Daggers', 'The Hours',
       'The Damned United', 'Star Trek: First Contact', 'The Natural',
       'The Hobbit: The Battle of the Five Armies', 'Equilibrium',
       'August Rush', 'Saving Mr. Banks', 'The Hurricane',
       "Jacob's Ladder", 'The Curse of the Were-Rabbit',
       'Christmas Vacation', 'Good Night, and Good Luck.', 'Straw Dogs',
       '42', 'Rudy', 'Sleepers', 'The Wind That Shakes the Barley',
       'Gangs of New York', 'Elizabeth', 'Green Street Hooligans',
       'Reign Over Me', 'RoboCop', 'The Life of David Gale',
       'Life as a House', 'Despicable Me 2', 'Jackie Brown',
       'Menace II Society', 'The Class', 'Bullets Over Broadway',
       'American Splendor', 'Perfume: The Story of a Murderer',
       'Cloud Atlas', 'Marathon Man', 'Pinocchio', 'The Painted Veil',
       'A Simple Plan', 'The Conjuring', 'The Man Who Knew Too Much',
       'Quiz Show', 'American Graffiti', 'The Bridges of Madison County',
       'Gallipoli', "L'illusionniste", 'Miracle', 'Maria Full of Grace',
       'Scott Pilgrim vs. the World', 'Pleasantville',
       'Sherlock Holmes: A Game of Shadows', 'Doubt', 'The Fly',
       'The Orphanage', 'Malena', 'Three Days of the Condor', '[Rec]',
       'A Perfect World', 'To Catch a Thief', 'Best in Show',
       'Everything Is Illuminated', 'A Nightmare on Elm Street',
       'The Ice Storm', 'X2', 'We Need to Talk About Kevin', 'Felon',
       'Still Alice', 'Rust and Bone', 'Freedom Writers',
       'Legends of the Fall', "Buffalo '66", 'The Constant Gardener',
       'My Cousin Vinny', 'The Texas Chain Saw Massacre', 'Mulan',
       'A History of Violence', 'Open Range', 'Total Recall', 'Pi',
       "The Devil's Backbone", 'The Aviator', "Devil's Advocate",
       'The Adventures of Priscilla, Queen of the Desert',
       'Harry Potter and the Half-Blood Prince', 'Fruitvale Station',
       'In the Bedroom', 'Source Code', 'Biutiful',
       'From Russia with Love', 'Calvary', 'The Mission', 'In the Loop',
       'The Three Burials of Melquiades Estrada', 'Babel', 'Frenzy',
       'Heavenly Creatures',
       'Sweeney Todd: The Demon Barber of Fleet Street', 'Looper',
       'The Proposition', 'Bullitt',
       "Harry Potter and the Sorcerer's Stone", '2046', 'Transamerica',

In [92]:
df.title.nunique()

975

In [93]:
df.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [94]:
df.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [95]:
df.star_rating.sort_values()

978    7.4
950    7.4
949    7.4
948    7.4
947    7.4
946    7.4
945    7.4
944    7.4
943    7.4
942    7.4
941    7.4
940    7.4
939    7.4
938    7.4
937    7.4
936    7.4
935    7.4
934    7.4
933    7.4
932    7.4
931    7.4
930    7.4
951    7.4
952    7.4
977    7.4
954    7.4
953    7.4
976    7.4
975    7.4
974    7.4
      ...
36     8.6
37     8.6
38     8.6
39     8.6
32     8.6
17     8.7
15     8.7
16     8.7
18     8.7
24     8.7
20     8.7
21     8.7
22     8.7
23     8.7
19     8.7
14     8.8
13     8.8
12     8.8
11     8.8
10     8.8
4      8.9
5      8.9
9      8.9
7      8.9
8      8.9
6      8.9
3      9.0
2      9.1
1      9.2
0      9.3
Name: star_rating, Length: 979, dtype: float64

In [96]:
df.star_rating.sort_values(ascending=False)

0      9.3
1      9.2
2      9.1
3      9.0
6      8.9
8      8.9
7      8.9
9      8.9
5      8.9
4      8.9
10     8.8
11     8.8
12     8.8
13     8.8
14     8.8
19     8.7
23     8.7
22     8.7
21     8.7
20     8.7
24     8.7
18     8.7
16     8.7
15     8.7
17     8.7
32     8.6
39     8.6
38     8.6
37     8.6
36     8.6
      ...
974    7.4
975    7.4
976    7.4
953    7.4
954    7.4
977    7.4
952    7.4
951    7.4
930    7.4
931    7.4
932    7.4
933    7.4
934    7.4
935    7.4
936    7.4
937    7.4
938    7.4
939    7.4
940    7.4
941    7.4
942    7.4
943    7.4
944    7.4
945    7.4
946    7.4
947    7.4
948    7.4
949    7.4
950    7.4
978    7.4
Name: star_rating, Length: 979, dtype: float64

In [98]:
df.sort_values('star_rating')

,star_rating,title,content_rating,genre,duration,actors_list
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
949,7.4,Home Alone,PG,Comedy,103,"[u'Macaulay Culkin', u'Joe Pesci', u'Daniel St..."
948,7.4,Frances Ha,R,Comedy,86,"[u'Greta Gerwig', u'Mickey Sumner', u'Adam Dri..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
946,7.4,Far from Heaven,PG-13,Drama,107,"[u'Julianne Moore', u'Dennis Quaid', u'Dennis ..."
945,7.4,Take Shelter,R,Drama,120,"[u'Michael Shannon', u'Jessica Chastain', u'Sh..."
944,7.4,Terms of Endearment,R,Comedy,132,"[u'Shirley MacLaine', u'Debra Winger', u'Jack ..."
943,7.4,The Bucket List,PG-13,Adventure,97,"[u'Jack Nicholson', u'Morgan Freeman', u'Sean ..."
942,7.4,Raising Arizona,PG-13,Comedy,94,"[u'Nicolas Cage', u'Holly Hunter', u'Trey Wils..."
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
940,7.4,Much Ado About Nothing,PG-13,Comedy,111,"[u'Kenneth Branagh', u'Emma Thompson', u'Keanu..."
939,7.4,Predestination,R,Drama,97,"[u'Ethan Hawke', u'Sarah Snook', u'Noah Taylor']"
938,7.4,Alice in Wonderland,G,Animation,75,"[u'Kathryn Beaumont', u'Ed Wynn', u'Richard Ha..."
937,7.4,Labyrinth,PG,Adventure,101,"[u'David Bowie', u'Jennifer Connelly', u'Toby ..."
936,7.4,True Grit,0,Adventure,128,"[u'John Wayne', u'Kim Darby', u'Glen Campbell']"
935,7.4,Excalibur,R,Adventure,140,"[u'Nigel Terry', u'Helen Mirren', u'Nicholas C..."
934,7.4,"Crazy, Stupid, Love.",PG-13,Comedy,118,"[u'Steve Carell', u'Ryan Gosling', u'Julianne ..."
933,7.4,Beetlejuice,PG,Comedy,92,"[u'Alec Baldwin', u'Geena Davis', u'Michael Ke..."
932,7.4,Harry Potter and the Order of the Phoenix,PG-13,Adventure,138,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
930,7.4,Man on the Moon,R,Biography,118,"[u'Jim Carrey', u'Danny DeVito', u'Gerry Becker']"
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
952,7.4,Pirate Radio,R,Comedy,117,"[u'Philip Seymour Hoffman', u'Bill Nighy', u'N..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
953,7.4,The NeverEnding Story,PG,Adventure,102,"[u'Noah Hathaway', u'Barret Oliver', u'Tami St..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
...,...,...,...,...,...,...
36,8.6,Saving Private Ryan,R,Action,169,"[u'Tom Hanks', u'Matt Damon', u'Tom Sizemore']"
37,8.6,Raiders of the Lost Ark,PG,Action,115,"[u'Harrison Ford', u'Karen Allen', u'Paul Free..."
38,8.6,Rear Window,APPROVED,Mystery,112,"[u'James Stewart', u'Grace Kelly', u'Wendell C..."
39,8.6,Psycho,R,Horror,109,"[u'Anthony Perkins', u'Janet Leigh', u'Vera Mi..."
32,8.6,Casablanca,PG,Drama,102,"[u'Humphrey Bogart', u'Ingrid Bergman', u'Paul..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
15,8.7,Interstellar,PG-13,Adventure,169,"[u'Matthew McConaughey', u'Anne Hathaway', u'J..."
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
18,8.7,Goodfellas,R,Biography,146,"[u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']"
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."

In [101]:
df.sort_values('star_rating',ascending = False)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
18,8.7,Goodfellas,R,Biography,146,"[u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']"
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
15,8.7,Interstellar,PG-13,Adventure,169,"[u'Matthew McConaughey', u'Anne Hathaway', u'J..."
33,8.6,Whiplash,R,Drama,107,"[u'Miles Teller', u'J.K. Simmons', u'Melissa B..."
39,8.6,Psycho,R,Horror,109,"[u'Anthony Perkins', u'Janet Leigh', u'Vera Mi..."
38,8.6,Rear Window,APPROVED,Mystery,112,"[u'James Stewart', u'Grace Kelly', u'Wendell C..."
37,8.6,Raiders of the Lost Ark,PG,Action,115,"[u'Harrison Ford', u'Karen Allen', u'Paul Free..."
36,8.6,Saving Private Ryan,R,Action,169,"[u'Tom Hanks', u'Matt Damon', u'Tom Sizemore']"
...,...,...,...,...,...,...
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
942,7.4,Raising Arizona,PG-13,Comedy,94,"[u'Nicolas Cage', u'Holly Hunter', u'Trey Wils..."
953,7.4,The NeverEnding Story,PG,Adventure,102,"[u'Noah Hathaway', u'Barret Oliver', u'Tami St..."
952,7.4,Pirate Radio,R,Comedy,117,"[u'Philip Seymour Hoffman', u'Bill Nighy', u'N..."
930,7.4,Man on the Moon,R,Biography,118,"[u'Jim Carrey', u'Danny DeVito', u'Gerry Becker']"
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
932,7.4,Harry Potter and the Order of the Phoenix,PG-13,Adventure,138,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
933,7.4,Beetlejuice,PG,Comedy,92,"[u'Alec Baldwin', u'Geena Davis', u'Michael Ke..."
934,7.4,"Crazy, Stupid, Love.",PG-13,Comedy,118,"[u'Steve Carell', u'Ryan Gosling', u'Julianne ..."
935,7.4,Excalibur,R,Adventure,140,"[u'Nigel Terry', u'Helen Mirren', u'Nicholas C..."
936,7.4,True Grit,0,Adventure,128,"[u'John Wayne', u'Kim Darby', u'Glen Campbell']"
937,7.4,Labyrinth,PG,Adventure,101,"[u'David Bowie', u'Jennifer Connelly', u'Toby ..."
938,7.4,Alice in Wonderland,G,Animation,75,"[u'Kathryn Beaumont', u'Ed Wynn', u'Richard Ha..."
939,7.4,Predestination,R,Drama,97,"[u'Ethan Hawke', u'Sarah Snook', u'Noah Taylor']"
940,7.4,Much Ado About Nothing,PG-13,Comedy,111,"[u'Kenneth Branagh', u'Emma Thompson', u'Keanu..."
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
943,7.4,The Bucket List,PG-13,Adventure,97,"[u'Jack Nicholson', u'Morgan Freeman', u'Sean ..."
944,7.4,Terms of Endearment,R,Comedy,132,"[u'Shirley MacLaine', u'Debra Winger', u'Jack ..."
945,7.4,Take Shelter,R,Drama,120,"[u'Michael Shannon', u'Jessica Chastain', u'Sh..."
946,7.4,Far from Heaven,PG-13,Drama,107,"[u'Julianne Moore', u'Dennis Quaid', u'Dennis ..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
948,7.4,Frances Ha,R,Comedy,86,"[u'Greta Gerwig', u'Mickey Sumner', u'Adam Dri..."
949,7.4,Home Alone,PG,Comedy,103,"[u'Macaulay Culkin', u'Joe Pesci', u'Daniel St..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [107]:
import numpy as np

In [109]:
dd = pd.DataFrame(index = [1,2,3,4,5], columns = ['A','B','C','D','E'],data=np.arange(25).reshape(5,5))

In [110]:
dd

    A   B   C   D   E
1   0   1   2   3   4
2   5   6   7   8   9
3  10  11  12  13  14
4  15  16  17  18  19
5  20  21  22  23  24

In [116]:
x = pd.Series(index = [1,2,3,4,5],name = 'pop',data=['AA','BB','CC','DD','EE'])

In [119]:
type(x)

pandas.core.series.Series

In [120]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [121]:
df.content_rating.nunique()

13

In [124]:
dg = pd.DataFrame(index = [1,2,3,4,5,6,7,8,9,10], columns = ['Sex','Name'], data = [['Male','subham'],['Female','bewdi'],['Male','sankhla'],['Male','dhiru'],['Male','gujarati'],['Male','nikhil'],['Male','lokesh'],['Male','abhay'],['Male','akash'],['Male','ganesh']])

In [125]:
dg

       Sex      Name
1     Male    subham
2   Female     bewdi
3     Male   sankhla
4     Male     dhiru
5     Male  gujarati
6     Male    nikhil
7     Male    lokesh
8     Male     abhay
9     Male     akash
10    Male    ganesh

In [126]:
dg['sex-m-f'] = dg.Sex.map({'Male':'M','Female':'F'})

In [127]:
dg

       Sex      Name sex-m-f
1     Male    subham       M
2   Female     bewdi       F
3     Male   sankhla       M
4     Male     dhiru       M
5     Male  gujarati       M
6     Male    nikhil       M
7     Male    lokesh       M
8     Male     abhay       M
9     Male     akash       M
10    Male    ganesh       M

In [129]:
pd.get_dummies(dg.Sex)

    Female  Male
1        0     1
2        1     0
3        0     1
4        0     1
5        0     1
6        0     1
7        0     1
8        0     1
9        0     1
10       0     1